@reference "../../../index.css";

.btn {
  @apply border rounded-sm cursor-pointer transition-all font-medium flex flex-row items-center gap-2 justify-center;

  --color: #ff4141;
  /* Colors */
  &.btn-default {
    --color: var(--text-h);
  }
  &.btn-primary {
    --color: var(--primary);
  }
  &.btn-secondary {
    --color: var(--secondary);
  }
  &.btn-accent {
    --color: var(--accent);
  }
  &.btn-success {
    --color: var(--success);
  }
  &.btn-error {
    --color: var(--error);
  }
  &.btn-warning {
    --color: var(--warning);
  }

  /* Variants */
  &.btn-filled {
    @apply border border-[var(--color)] bg-[var(--color)] text-(--text-contrast);

    &.btn-default {
      color: var(--text-contrast);
    }

    &:hover {
      background-color: color-mix(in oklch, var(--color) 95%, black);
    }
    &:active {
      background-color: color-mix(in oklch, var(--color) 85%, black);
    }
  }
  &.btn-outlined {
    /* @apply border border-[var(--color)] text-[var(--color)]; */
    @apply border;
    color: var(--color);
    border-color: color-mix(in oklch, var(--color) 25%, transparent);

    &:hover {
      background-color: color-mix(in oklch, var(--color) 14%, transparent);
    }
    &:active {
      background-color: color-mix(in oklch, var(--color) 22%, transparent);
    }
  }
  &.btn-glass {
    @apply border;
    color: var(--color);
    border-color: color-mix(in oklch, var(--color) 25%, transparent);
    background-color: color-mix(in oklch, var(--color) 14%, transparent);

    &:hover {
      background-color: color-mix(in oklch, var(--color) 22%, transparent);
    }
    &:active {
      background-color: color-mix(in oklch, var(--color) 30%, transparent);
    }
  }
  &.btn-ghost {
    @apply border-transparent text-[var(--color)];

    &:hover {
      background-color: color-mix(in oklch, var(--color) 14%, transparent);
    }
    &:active {
      background-color: color-mix(in oklch, var(--color) 22%, transparent);
    }
  }

  /* Sizes */
  &.btn-sm {
    @apply px-2 text-sm;
  }
  &.btn-md {
    @apply px-3 py-1 text-base;
  }
  &.btn-lg {
    @apply px-4 py-2 text-lg;
  }

  &.icon-btn {
    @apply aspect-square w-8 h-8 shrink-0 flex justify-center items-center p-0;

    & > svg {
      @apply block shrink-0;
      width: 1em;
      height: 1em;
    }

    &.btn-sm {
      @apply w-6 h-6;
    }
    &.btn-md {
      @apply w-8 h-8;
    }
    &.btn-lg {
      @apply w-10 h-10;
    }
  }

  &.btn-rounded {
    @apply rounded-full;
  }
  &.btn-square {
    @apply rounded-sm;
  }
}

:root[data-kolui-theme="dark"] .btn:is(.btn-outlined, .btn-glass).btn-default {
  --color: var(--text-h);
  border-color: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-kolui-theme]) .btn:is(.btn-outlined, .btn-glass).btn-default {
    --color: var(--text-h);
    border-color: var(--border);
  }
}
